<div class="sidenav">
  <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(30).jpg" class="logo"><br><br>
  <mat-card-header class="profile">
    <img mat-card-avatar src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg">
    <mat-card-title class="text">Abhi</mat-card-title>
    <mat-card-subtitle><h5 style="color: white;"> abc@gmail.com</h5></mat-card-subtitle>
  </mat-card-header>
  <br><br>
  <div class="link">
    <a href="#Motivation">Motivation</a>
   <a href="#Productivity">Productivity
      <button class="side-btn" mat-raised-button color="accent"><h5>Get now</h5></button>
    </a>
    <a href="#Design">Design</a>
    <a href="#Study">Study</a>
  </div>
  <mat-card class="footer">
    <mat-card-content>
      <p style="font-size: 12px;">
        Pro account is more powerful. Get 30% off
      </p>
      <button class="btn" mat-raised-button routerLink="."><h5>Get now</h5></button>
      </mat-card-content>
  </mat-card><br>
  <a href="#"> <mat-icon class="icon" color="accent" aria-hidden="false">add_circle </mat-icon></a>
  <a href="#Logout" style="color: white; font-size: 15px;"><span>Logout</span></a>
</div>
