<div style="height: 540px;">
  <section id="portfolio">
    <div class="container" style="padding-top: 16px;">
      <div class="btn btn-default fitler-button" data-filter="all"><h3 style="color: white;">All</h3></div>
      <div class="btn btn-default fitler-button" data-filter="nature"><h3 style="color: white;"> Nature</h3></div>
      <div class="btn btn-default fitler-button" data-filter="people"><h3 style="color: white;"> People</h3> </div>
      <div class="btn btn-default fitler-button" data-filter="cars"><h3 style="color: white;">Cars</h3> </div>
      <div class="btn btn-default fitler-button" data-filter="building"><h3 style="color: white;">Building </h3></div>
    </div>
    <div class="row">
      <div class="column">
        <img src="https://images.pexels.com/photos/3294285/pexels-photo-3294285.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
        <img src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
        <video src="https://player.vimeo.com/external/394718464.sd.mp4?s=e369f0eda883f16d097c348d9be0a5a7a3baf7e0&profile_id=165&oauth2_token_id=57447761"></video>
        <video src="https://player.vimeo.com/external/371900288.sd.mp4?s=1cef9a33ef0ad6dd616fe31302e6ef65772a11ef&profile_id=165&oauth2_token_id=57447761"></video>
      </div>
      <div class="column">
        <video src="https://player.vimeo.com/external/516891289.sd.mp4?s=f31dc94362e5449e7248bd6b214861ca8a6356cf&profile_id=165&oauth2_token_id=57447761"></video>
        <img src="https://images.pexels.com/photos/3217672/pexels-photo-3217672.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
        <img src="https://images.pexels.com/photos/3597310/pexels-photo-3597310.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
        <img src="https://images.pexels.com/photos/3927470/pexels-photo-3927470.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>
      <div class="column">
        <img src="https://images.pexels.com/photos/636243/pexels-photo-636243.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
        <video src="https://player.vimeo.com/external/403884145.sd.mp4?s=03cb2e51cf188d160a165227b59d0650e94fb60b&profile_id=139&oauth2_token_id=57447761"></video>
        <img src="https://images.pexels.com/photos/3094218/pexels-photo-3094218.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <video src="https://player.vimeo.com/external/490790184.sd.mp4?s=2f09a03cae70238e36b53818f661a51e47c5e731&profile_id=165&oauth2_token_id=57447761"></video>
      </div>
    </div>
  </section>
</div>



