<app-side-nav></app-side-nav>
<div class="container" >
  <mat-card>
    <mat-card-title class="head">
      <a href="#add"> <mat-icon class="icon" color="accent" aria-hidden="false">control_point</mat-icon></a>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
     <!-- <div class="account">
        <img mat-card-avatar src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg">
        <img mat-card-avatar src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg">
        <img mat-card-avatar src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg">
        <img mat-card-avatar src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg">
      </div>-->
      <h2 class="text">Motivation</h2>
    </mat-card-title><br>
    <mat-card-subtitle class="link" fxLayoutGap="20px">
      <a href="#All"> All</a>
      <a href="#Actions"> Actions</a>
      <a href="#Product"> Product</a>
      <a href="#video"> Video</a>
      <a href="#Downloads"> Downloads</a>
      <button class="btn" mat-raised-button color="accent"><h5>Get now</h5></button>
    </mat-card-subtitle>
    <mat-card-content class="scrollable">
      <div class="row">
        <div class="column">
          <img  src='https://images.pexels.com/photos/6185624/pexels-photo-6185624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
          <img src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(30).jpg'>
          <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg'>
          <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(112).jpg'>
          <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(2).jpg'>
         <img  src='https://images.pexels.com/photos/3927470/pexels-photo-3927470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
      </div>
      <div class="column">
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(4).jpg'>
        <img  src='https://images.pexels.com/photos/4215113/pexels-photo-4215113.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(6).jpg'>
        <img  src='https://images.pexels.com/photos/5103756/pexels-photo-5103756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(3).jpg'>
      </div>
      <div class="column">
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(44).jpg'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(5).jpg'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(45).jpg'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(46).jpg'>
        <img  src='https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(47).jpg'>
        <img src="https://images.pexels.com/photos/3577348/pexels-photo-3577348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <img src="https://images.pexels.com/photos/2792157/pexels-photo-2792157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
